{% extends 'baseroot.html.twig' %}

{% block title %}Hello RootController!{% endblock %}

{% block body %}

  <center><h2>
{#
    {% if userBelongsTo(users_ufficio_personale, username) %}
      <div style="border-style: solid; border-color: grey">
        <font size="2">Riservato:</font><br>
        <a href="{{ path('editUser') }}" class="button" style="width:42%">Inserisci nuovo dipendente</a>
        <br><p><br>
        <a href="{{ path('showall') }}" class="button" style="width:42%">Mostra/modifica dipendenti</a>
      </div>
    {% endif %}
      <br>
      <a href="{{ path('newaccount') }}" class="button" style="width:42%">Richiesta nuovo account</a>
      <br><p>
#}
    {% if userBelongsTo(users_admin, username) %}
      <div style="border-style: solid; border-color: red">
        <font size="2">Only for administrators:</font>
        <center>
        <a href="http://www3/staff" class="button" style="width:12%">STAFF</a>
        <a href="http://www3/workorder" class="button" style="width:12%">WORKORDER</a>
        </center>
{#
        <br>
        <a href="{{ path('showall', { 'item': -1 }) }}" class="button" style="width:42%">Mostra lista INTERNA dipendenti</a>
#}
      </div>
    {% endif %}

    {% if userBelongsTo(users_core_cfo, username) %}
      <div style="border-style: solid; border-color: red">
        <font size="2">Only for CFO:</font>
<br>
        <a href="{{ path('showallStaff', { 'item': -1 }) }}" class="button" style="width:42%">SHOW ALL STAFF</a>
<br>
List of WORKORDER
      </div>
    {% endif %}

    {% if userBelongsTo(users_core_project_leader, username) %}
      <div style="border-style: solid; border-color: red">
        <font size="2">Only for PROJECT LEADER:</font>
      </div>
    {% endif %}

    {% if userBelongsTo(users_core_group_leader, username) %}
      <div style="border-style: solid; border-color: red">
        <font size="2">Only for GROUP LEADER:</font>
      </div>
    {% endif %}


  </h2></center>

{% endblock %}
